<%- include('../layout/header.ejs') %>
<%- include('../layout/navigation.ejs') %>
<style>
  .newsletter form .input{
    border-radius: 5px;
    font-size: medium;
  }

  input[type=password]{
    background-color: rgb(228, 231, 231);
  }
</style>

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="newsletter">
            <span class="h2 fw-bold mb-0">Change Password</span>
            <div class="form-outline mb-4">
              <small class="fw-normal mb-4 py-4" style="font-size: 15px;">
                You can reset your password here
              </small>
            </div>
            <div>
            <div class="row">
            <form form action="/changePassword" method="post" id="changePasswordForm" onsubmit="changePassword(); return false;">
                <div class="col-sm-12" style="padding: 15px; display: flex; justify-content: space-around;">
                    <label>Current Password</label>
                    <input class="input" type="password" name="currentpassword" placeholder="Enter Current Password">
                  </div>
                  <span id="error-currentpassword" style="color: red;"></span>

                  <div class="col-sm-12" style="padding: 15px; display: flex; justify-content: space-around;">
                    <label>New Password</label>
                    <input class="input" type="password" name="newpassword" placeholder="Enter Your New Password" required>
                    <span id="error-newpassword" style="color: red;"></span>
                </div>

                <div class="col-sm-12" style="padding: 15px; ">
                    <label>Confirm Password</label>
                    <input class="input" type="password" name="confirmpassword" placeholder="Enter Your Confirm Password">
                    <span id="error-confirmpassword" style="color: red;"></span>
                </div>
              <button type="submit" class="btn btn-primary" style="margin-top: 5px;"><i class="fa fa-envelope"></i> Update Password</button>
            </form>
        </div>
          </div>
            <ul class="newsletter-follow">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /NEWSLETTER -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    
    function changePassword() {
        Swal.fire({
            title: 'Are you sure you want to change your password?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
        }).then(function (result) {
            if (result.isConfirmed) {
                // If the user clicks 'OK', proceed with the password change
                var formData = $('#changePasswordForm').serialize();

                $.ajax({
                    type: 'post',
                    url: '/changePassword',
                    data: formData,
                    success: function (data) {
                        if (data.success) {
                            Swal.fire({
                                title: 'Password Updated Successfully!.',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function () {
                                window.location.href = "/logout";
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: data.message,
                                icon: 'error',
                                showCancelButton: true,
                                confirmButtonText: 'OK',
                            });
                        }
                    },
                });
            }
          
        });
    }

  </script>

<%- include('../layout/footer.ejs') %>