

<%- include('../layout/header.ejs') %>
<%- include('../layout/navigation.ejs') %>

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <span class="h1 fw-bold mb-0">Forget Password</span>
          <div class="form-outline mb-4">
            <small class="fw-normal mb-4 py-4" style="font-size: 18px;">
              You can reset your password here
            </small>
          </div>
          <div>
          <form form action="/forget-password" method="post">
            <input class="input" type="email" name="email" placeholder="Enter Your Email" >
            <button type="submit" class="newsletter-btn"><i class="fa fa-envelope"></i> Send Link</button>
            <% if(typeof message !== 'undefined'){%>
              <p style="color: red; font-size: 20px;"><%= message %></p>
              <% } %>
          </form>
        </div>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /NEWSLETTER -->


<%-include('../layout/footer.ejs') %>
